PORT=4000
DATABASE_URL=postgresql://ecommerce_user:secure_password_123@localhost:5432/ecommerce_db?schema=public
JWT_ACCESS_SECRET=super_access_secret_change_me_1234567890
JWT_REFRESH_SECRET=super_refresh_secret_change_me_1234567890
FRONTEND_URL=http://localhost:5173

# Stripe Keys
STRIPE_SECRET_KEY=sk_test_...
STRIPE_PUBLISHABLE_KEY=pk_test_...